.groupChatInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.groupChatInputs input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  outline: none;
}

.searchResults {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.searchResults .searchResult {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.searchResults .searchResult img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.searchResults .searchResult span {
  font-weight: 400;
  color: #4d426d;
  margin-right: 10px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: none;
  border: 2px solid #4d426d;
  cursor: pointer;
  transition: 0.4s ease;
}

input[type="checkbox"]:checked {
  background-color: #9187ab;
  border: 2px solid #4d426d;
}

.searchResults p {
  font-weight: 400;
  opacity: 0.8;
  align-self: center;
}
