.groupChatName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.groupChatName h3 {
  outline: none;
}

.addMember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.4s;
  padding: 5px;
  border-radius: 5px;
}

.addMember:hover {
  background-color: #9187ab;
}

.addMember > button {
  margin-left: 0;
  margin-right: 10px;
}

.groupChatName button,
.addMember > button {
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: #4d426d;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
}

.groupChatName button:hover {
  background-color: #9187ab;
}
.groupMembers {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-self: flex-start;
}

.groupMembers .groupMember {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.groupMembers .groupMember .memberDetails {
  display: flex;
  align-items: center;
}

.groupMembers .groupMember .memberDetails img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 0;
}

.groupMembers .groupMember .memberDetails span {
  font-weight: 400;
  opacity: 0.8;
  margin-right: 10px;
}

.groupMembers .groupMember button {
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4d426d;
  color: white;
  cursor: pointer;
  outline: none;
  transition: background-color 0.4s;
  font-weight: 500;
  font-size: 0.9rem;
}

.groupMembers .groupMember button:hover {
  background-color: #9187ab;
}

.editingLine {
  height: 2px;
  width: 100%;
  background-color: black;
}

.leaveButton {
  margin-left: 5px;
}
