.chatBoxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #eeeeee;
  border-bottom: 2px solid #4d426d;
}

.chatBoxHeader .headerInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chatBoxHeader .headerInfo img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.chatBoxHeader .headerInfo h4 {
  font-weight: 500;
}

.chatBoxHeader .headerButton {
  padding: 0 50px;
}

.chatBoxBody {
  background-color: #eeeeee;
  margin: 10px;
  padding: 10px;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chatBoxFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #4d426d;
}

.chatBoxFooter input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin-right: 5px;
}

.chatBoxFooter button {
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatBoxFooter button:hover {
  background-color: #eeeeee;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: calc(100vh - 250px);
}

.chatBoxMessage {
  align-items: center;
}

.chatBoxMessage img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}

.chatBoxMessage span {
  border-radius: 20px;
  padding: 5px 15px;
  max-width: 75%;
}

.typingIndicatoDiv {
  width: 30px;
  height: 30px;
}
